*{
	margin: 0;
	padding: 0;
	background: #d6d6d6;
	box-sizing: border-box;
}

#main{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 620px;
	width: 310px;
	background: black;
	border-radius: 40px;
	border: 0.5px solid white;
	box-shadow:  0 0 0 3.5px #888;
	overflow: hidden;

}
#main::before{
	content: "";
	display: block;
	position: absolute;
	height: 800px;
	width: 320px;
	background:  rgb(255, 255, 255, 0.1);
	transform: translateX(60px) translateY(-20px) rotate(20deg);
	

}

#container{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 520px;
	width: 285px;
	background: white;
}

#display{
	position: relative;
	margin-top: 0px;
	width: 100%;
	height: 380px;
	background: #f4f4f4;
	overflow: auto;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}


#inputDiv{
	
	width: 100%;
	height: 90px;
	background: #339AF0;
}

#inputText{
	
	border: none;
	width: 200px;
	height: 35px;
	margin: 20px 20px 5px;
	border-radius: 5px;
	background: #f4f4f4;
}


#inputBtn{
	float: right;
	margin-top: 20px;
	margin-right:  20px;
	font-size: 25px;
	border: none;
	background: none;
	transition: 0.5s;
	color: white;

}

#inputText:focus{
	border: 2px solid #00FF00;
}


#inputBtn:hover{
	color: #00FF00;
	cursor: pointer;
}
h2{
	height: 50px;
	line-height: 50px;
	text-align: center;
	background: white;
	background: rgb(51, 154, 240, 0.7);
}

h3{	
	
	text-align: center;

}